<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>TitaniumMobile</string>
	<key>uuid</key>
	<string>7E40D336-59DE-40D2-B8BB-3B0A8BE7FF4D</string>
</dict>
</plist>
