<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>TitaniumMobile</string>
	<key>ordering</key>
	<array>
		<string>9DE10E1E-27CB-4F85-80D8-B381623F3D7F</string>
		<string>8EA6B614-8556-4BB8-93F9-4ED74BF3BE0B</string>
	</array>
	<key>uuid</key>
	<string>7E40D336-59DE-40D2-B8BB-3B0A8BE7FF4D</string>
</dict>
</plist>
